/*
  Google Fonts http://www.google.com/fonts#UsePlace:use/Collection:Ubuntu|Open+Sans:400italic,400,700
*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://thremes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://thremes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://thremes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://thremes.googleusercontent.com/static/fonts/ubuntu/v4/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

/* Font awesome http://fontawesome.io/ */

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fontawesome-webfont.woff') format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

p {
    line-height: 1.6em;
    margin: 1rem 0 1.3rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  margin: 0.5em 0 1em 0;
}

.body-container {
  width: 80%;
  margin: 0 auto;
}

.meta {
  font-size: 0.8em;
  color: rgb(100, 100, 80);
}

.header {
  margin-top: 1em;
  margin-bottom: 2.3em;
}

.posts {
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem;
}

.posts span {
  font-size: 0.8em;
  color: rgb(80,80,80);
}

.post ul {
  padding: 0;
}

.post img {
  margin-left: 20px;
}

.links a, .links a:visited {
    font-size: 1.2em;
    line-height: 1.5em;
    display: block;
    text-decoration: none;
    color: rgb(0,0,200);
}

.links span {
    font-family: 'FontAwesome';
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2.8rem 0 2.3rem 0;
}

footer {
  color: #999;
  font-size: 0.8rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
